* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Custom Promo Filter */
:root {
    --custom-promo-filter-color: #ffffff;
    --custom-promo-filter-background: #c12ae7;
    --custom-promo-filter-switch-color: #5d18ff;
    --custom-promo-filter-switch-background: #ffffff;
    --custom-promo-filter-switch-active-color: #ffffff;
    --custom-promo-filter-switch-active-background: #5d18ff;
    --scroll-top: 0;
}

/* Borders and Spacing */
:root {
    --br-0: 0px;
    --br-1: 4px;
    --br-2: 8px;
    --br-3: 12px;
    --br-4: 16px;
    --br-5: 20px;
    --br-6: 24px;
    --br-7: 28px;
    --br-8: 32px;
    --br-10: 40px;
    --br-full: 100px;
    --sp-0: 0px;
    --sp-1: 4px;
    --sp-2: 8px;
    --sp-3: 12px;
    --sp-4: 16px;
    --sp-5: 20px;
    --sp-6: 24px;
    --sp-8: 32px;
    --sp-10: 40px;
}

/* General Styles */
html {
    font-variation-settings: 'wght' 450;
    color: #242424;
    text-rendering: geometricPrecision;
    background: #fff;
    font-family: Hauss, Segoe UI, -apple-system, Roboto, Helvetica Neue, Noto Sans, Arial, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 16px;
    font-weight: 400;
}
