.filterBlockContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}
@media screen and (max-width: 1200px) {
    .filterBlockContainer {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 992px) {
    .filterBlockContainer {
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 80px;
    }
}
@media screen and (max-width: 768px) {
    .filterBlockContainer {
        grid-template-columns: auto;
        justify-content: center;
    }
}
